/* @charset "UTF-8"; */
* {
	margin : auto;
	padding: 0px;
	font-size: 100%;
}
.page {
	width: 900px;
	text-align: center;
	background-color: #FFF;
	height: auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
	clear: none;
}
body {
	background-color:#ffffff;
	width: 1080px;
	font-family:Verdana, “游ゴシック”, YuGothic, “Hiragino Kaku Gothic ProN”, Meiryo, sans-serif;
}
header{
	width: auto;
	height: 150px;
	background-color: #3cb371;
}
.title{
	float: left;
	padding-top: 50px;
	margin-right: 40px;
}
.search{
	padding-top: 80px;
}
.login{
	float: right;
	font-size: 20px;
}
a[name="topLink"]{
	font-size:200%;
	color:#f0ffff;
}
.div_sideMenu {
	background-color:#98fb98;
	float: left;
	clear: none;
	width: 150px;
	height: 1500px;
	font-size: 100%;
	/* margin-top: 10px; */
	margin-right: 30px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 0px;
	font-family: Verdana, “游ゴシック”, YuGothic, “Hiragino Kaku Gothic ProN”, Meiryo, sans-serif;
}
h1 {
	color:#f0ffff;
	font-size:150%;
}
h2{
	font-size: 140%;
}
h3{
	font-size: 125%;
	margin-left: 10px;
}
ul {
	list-style: none;
}
ul li{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.login{
	margin-right: 20px;
	margin-bottom: 20px;
}
.h_sideMenu{
	font-size: 20px;
	padding: 10px;
}
.div_productList{
	padding: 10px;
	height: 1500px;
	background-color: #D8FF9D;
}
.ichiranTitle{
	margin: 20px;
	font-size: 20px;
}
.div_item{
	height: 250px;
}
.div_image{
	display: inline-block;
	padding: 20px;
}
.div_itemInfo{
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
}
.detail_itemInfo{
	padding: 20px;
}
.detail_image{
	padding: 20px;
}
.backToppage{
	margin-left: 160px;
	margin-top: 350px;
	position: absolute;
}
